</div>
<!-- END wrapper -->



<script>
    var resizefunc = [];
</script>

<!-- jQuery  -->
<script src="/admin_assets/js/jquery.min.js"></script>
<script src="/admin_assets/js/bootstrap.min.js"></script>
<script src="/admin_assets/js/detect.js"></script>
<script src="/admin_assets/js/fastclick.js"></script>
<script src="/admin_assets/js/jquery.blockUI.js"></script>
<script src="/admin_assets/js/waves.js"></script>
<script src="/admin_assets/js/jquery.nicescroll.js"></script>
<script src="/admin_assets/js/jquery.slimscroll.js"></script>
<script src="/admin_assets/js/jquery.scrollTo.min.js"></script>

<!-- KNOB JS -->
<!--[if IE]>
<script type="text/javascript" src="/admin_assets/plugins/jquery-knob/excanvas.js"></script>
<![endif]-->
<script src="/admin_assets/plugins/jquery-knob/jquery.knob.js"></script>

<!--Morris Chart-->
<!-- <script src="/admin_assets/plugins/morris/morris.min.js"></script>
<script src="/admin_assets/plugins/raphael/raphael-min.js"></script> -->

<!-- Dashboard init -->
<!-- <script src="/admin_assets/pages/jquery.dashboard.js"></script> -->
    <% if(title == 'Menu' || title == 'Slider' || title == 'Main-category'){%>
       <!-- Datatables-->
       <script src="/admin_assets/plugins/datatables/jquery.dataTables.min.js"></script>
       <script src="/admin_assets/plugins/datatables/dataTables.bootstrap.js"></script>
       <script src="/admin_assets/plugins/datatables/dataTables.buttons.min.js"></script>
       <script src="/admin_assets/plugins/datatables/buttons.bootstrap.min.js"></script>
       <script src="/admin_assets/plugins/datatables/jszip.min.js"></script>
       <script src="/admin_assets/plugins/datatables/pdfmake.min.js"></script>
       <script src="/admin_assets/plugins/datatables/vfs_fonts.js"></script>
       <script src="/admin_assets/plugins/datatables/buttons.html5.min.js"></script>
       <script src="/admin_assets/plugins/datatables/buttons.print.min.js"></script>
       <script src="/admin_assets/plugins/datatables/dataTables.fixedHeader.min.js"></script>
       <script src="/admin_assets/plugins/datatables/dataTables.keyTable.min.js"></script>
       <script src="/admin_assets/plugins/datatables/dataTables.responsive.min.js"></script>
       <script src="/admin_assets/plugins/datatables/responsive.bootstrap.min.js"></script>
       <script src="/admin_assets/plugins/datatables/dataTables.scroller.min.js"></script>

       <script src="/admin_assets/plugins/switchery/switchery.min.js"></script>

       <!-- Modal-Effect -->
       <script src="/admin_assets/plugins/custombox/dist/custombox.min.js"></script>
       <script src="/admin_assets/plugins/custombox/dist/legacy.min.js"></script>


       <!-- Datatable init js -->
       <script src="/admin_assets/pages/datatables.init.js"></script>

       
       <script type="text/javascript">
        $(document).ready(function() {
            $('#datatable').dataTable();
            $('#datatable-keytable').DataTable( { keys: true } );
            $('#datatable-responsive').DataTable();
            $('#datatable-scroller').DataTable( { ajax: "/admin_assets/plugins/datatables/json/scroller-demo.json", deferRender: true, scrollY: 380, scrollCollapse: true, scroller: true } );
            var table = $('#datatable-fixed-header').DataTable( { fixedHeader: true } );
        } );
        TableManageButtons.init();

    </script>

    <% } %>
<% if(title == 'Slider' || title == 'Main-category'){%> 
          <!-- file uploads js -->
        <script src="/admin_assets/plugins/fileuploads/js/dropify.min.js"></script>
        <script type="text/javascript">
        var pageTitle = '<%= title %>';
            $('.dropify').dropify({
                messages: {
                    'default': 'Drag and drop a your '+pageTitle+' image here or click',
                    'replace': 'Drag and drop or click to replace',
                    'remove': 'Remove',
                    'error': 'Ooops, something wrong appended.'
                },
                error: {
                    'fileSize': 'The file size is too big (1M max).'
                }
            });
        </script>
<% } %>
<!-- App js -->
<script src="/admin_assets/js/jquery.core.js"></script>
<script src="/admin_assets/js/jquery.app.js"></script>



<script src="/admin_assets/js/custom.js"></script>

</body>
</html>
